<ion-header>
  <ion-toolbar>
    <ion-title>
      Marduk Web App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Write your Post-It Text:</ion-label>
    <ion-input id="text" [(ngModel)]="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Post-It Type</ion-label>
    <ion-select id="typeoption" interface="popover" [(ngModel)]="typeoption">
      <ion-select-option value="plus">Plus</ion-select-option>
      <ion-select-option value="delta">Delta</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button (click)="sendPostIt()">Send Post-It!</ion-button>

  <ion-item *ngIf="completed">
  <ion-button class="primary" disabled="true">Bot Response: {{ response.slots.slotOne }} : {{ response.slots.slotTwo }}</ion-button>
  </ion-item>
</ion-content>
